/* src/styles.css */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.form-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  max-width: 840px;
  gap: 10px;
  justify-content: center;  
}

.form-container input {
  padding: 8px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  width: 368px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #00ff08;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.form-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.fields > th{
  background-color: #00ff08;
  color: white;
}
.Loading{
  margin: 0 auto;
}